---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- for Google -->
		{% if page.description %}<meta name="description" content="{{page.description}}"/>{% endif %}
		<meta name="google-site-verification" content=""/>
		<title>{{page.title}}</title>

		<!-- for Facebook -->
		<meta property="og:title" content="{{page.title}}">
		<meta property="og:url" content="{% if page.ogurl %}{{page.ogurl}}{% else %}{{site.url}}{% endif %}">
		<meta property="og:type" content="{% if page.ogtype %}{{page.ogtype}}{% else %}website{% endif %}">
		{% if page.description %}<meta property="og:description" content="{{page.description}}">{% endif %}
		<!-- <meta property="og:image" content="{% if page.ogimage %}{{page.ogimage}}{% else %}{{site.url}}/commons/images/me.jpg{% endif %}"> -->

		{% if page.header %}{% include {{page.header}} %}{% endif %}
		<link rel="icon" type="image/png" href="{{site.url}}/commons/images/spades.png">
	</head>
	<body{% if page.bodyattributes %} {{page.bodyattributes}}{% endif %}>
		{{content}}
		{% if page.footer %}{% include {{page.footer}} %}{% endif %}
	</body>
</html>